.badge{
  transition: all.5s;
  width: fit-content;
  height: auto;
}

.badge:hover{
  transform: scale(0.95);
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    hsl(128, 63%, 47%),
    hsl(141, 94%, 26%)100%
  );
}
