.img-thumbnail{
  transition: all.5s;
  width: fit-content;
  height: auto;
}
.img-thumbnail:hover{
  transform: scale(0.95);
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    hsl(199, 13%, 43%),
    hsl(0, 0%, 100%)100%
  );
}

.list-group-hover .list-group-item:hover {
  background-color: #f5f5f5;
}

.badge{
  transition: all.5s;
  width: fit-content;
  height: auto;
}

.badge:hover{
  transform: scale(0.95);
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    hsl(199, 100%, 56%),
    hsl(229, 100%, 50%)100%
  );
}
