<ng-template #loading>
  <shared-loader-specific></shared-loader-specific>
</ng-template>

<!-- TODO: Hacer las monedas de los paises-->


<div *ngIf="country; else loading">
  <div class="row animate__animated animate__fadeIn">
    <div class="col-12">
      <h2>Pais:{{country?.name?.common}}</h2>
      <hr>
    </div>
  </div>

  <div class="row animate__animated animate__fadeIn">
    <div class="col-4">
      <h3>Bandera:</h3>
      <img [src]="country.flags.svg" alt="country.name.common" class="img-thumbnail ">
    </div>
    <div class="col">
      <h3>Informacion:</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-dark">
          <strong>Poblacion:</strong> {{country.population|number}}
        </li>
        <li class="list-group-item list-group-item-action list-group-item-light">
          <strong>Codigo:</strong> {{country.cca3}}
        </li>
        <li class="list-group-item list-group-item-action list-group-item-dark">
          <strong>Continente:</strong> {{country.continents}}
        </li>
        <li class="list-group-item list-group-item-action list-group-item-light">
          <strong>Region:</strong> {{country.region}}
        </li>
        <li class="list-group-item list-group-item-action list-group-item-dark">
          <strong>SubRegion:</strong> {{country.subregion}}
        </li>
      </ul>
    </div>
  </div>
  <countries-traduccion-info class="animate__animated animate__fadeIn" [country]="country"></countries-traduccion-info>
  <hr>

  <div class="row">
    <div class="col-8 bg-image hover-zoom">
      <h3>Ubicacion:</h3>
      <countries-googlemaps-map [capitalinfo]='country.capitalInfo' class="animate__animated animate__fadeIn"></countries-googlemaps-map>
    </div>
    <div class="col">
      <h3>Mas Informacion:</h3>
      <countries-more-info [country]="country" class="animate__animated animate__fadeIn"></countries-more-info>
      <components-lenguage-info [country]="country" class="animate__animated animate__fadeIn"></components-lenguage-info>
    </div>
  </div>
</div>
