<div *ngIf="countries.length===0; else table" class="alert alert-warning text-center">
  No hay paises que mostrar
</div>

<ng-template #table>
  <table class="table table-responsive">
    <thead class="title text-center table-dark">
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-center"*ngFor="let country of countries let i=index let isEven=even let isOdd=odd">
      <tr
      [ngClass]="{
        'tr-even':isEven,
        'tr-odd':isOdd,
      }" >
        <td>{{i+1}}</td>
        <td>
          {{country.flag}}
        </td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>{{country.name.common}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.population | number}}</td>
        <td>
          <button class="btn btn-primary">
            <a [href]="['/countries/by/'+country.cca3]">more info</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
