<h2 class="animate__animated animate__fadeIn"> Por Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button
    class="btn btn-outline-primary mx-2 mt-2"
    *ngFor="let Region of regions"
    (click)="searchByRegion(Region)"
    [ngClass]="{'btn-outline-primary':selectedRegion===Region}"
    >
      {{Region}}
    </button>
  </div>
</div>

<div class="row animate__animated animate__fadeIn">
  <div class="col">
    <hr>
      <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
