<h2 class="animate__animated animate__fadeIn"> Por Pais</h2>
<hr>

<div class="row animate__animated animate__fadeIn">
  <div class="col">
    <shared-search-box
      (ondDebounce)="searchByCountry($event)"
      placeholder="Buscar por pais"
      [initialValue]="initialValue"
    >
    </shared-search-box>
  </div>
</div>

<div class="row animate__animated animate__fadeIn">
  <div class="col">
    <hr>
      <shared-loader *ngIf="isLoading" ></shared-loader>
      <countries-country-table [countries]="countries" ></countries-country-table>
  </div>
</div>
